div{
    text-align: center;
}
button {
    height: 50px;
    width: 220px;
    border-radius: 15px;
    font-size: 32px;
    background: #97d49a;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    margin: 10px auto;
    transition: all 0.2s;
    color:#598e5b;
}

button:hover{
    background:#62e667;
    border-radius: 0px;
    color:#0b3e0d
}

table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

table td, table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even){background-color: #f2f2f2;}

table tr:hover {background-color: #ddd;}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}