<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head>
    <link rel="stylesheet" type="text/css" href="../static/css/inicio.css">
    <meta charset="utf-8" />
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type" />
    <meta content="utf-8" http-equiv="encoding" />
    <title>Epico</title>
    <script
      src="https://code.jquery.com/jquery-3.1.1.js"
      integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
      crossorigin="anonymous"
    ></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.0/js/bootstrap.min.js"></script>
  </head>

  <body>
    <button id="botonCsv" onclick="mostrarArchivoCsv()">
      CSV
    </button>

    <button id="botonJson" onclick="mostrarArchivoJson()">
      JSON
    </button>
    <table id="table">
    </table>

    <script>
      function mostrarArchivoCsv() {
        $.ajax(
          'http://localhost:8080/datos/csv',
          {
            success: function(json) {
              var table = document.getElementById("table");
              table.remove();

              const body = document.getElementsByTagName("body")[0];
              const tabla = document.createElement("table");
              tabla.id = "table";

              for (i of json["cantidadTotalDeOrdenesDeCompra"]) {
                const fila = document.createElement("tr");

                let myMap = new Map(Object.entries(i));

                for (const value of myMap.values()){
                  const celda = document.createElement("td");
                  celda.appendChild(document.createTextNode(value));
                  fila.appendChild(celda);
                }

                tabla.appendChild(fila);
              }
              body.appendChild(tabla);
            },
            error: function() {
              alert("tukin't");
            }
          }
        );
      }

      function mostrarArchivoJson() {
        $.ajax(
          'http://localhost:8080/datos/json',
          {
            success: function(json) {
              var table = document.getElementById("table");
              table.remove();

              const body = document.getElementsByTagName("body")[0];
              const tabla = document.createElement("table");
              tabla.id = "table";

              for (i of json["municipios"]) {
                const fila = document.createElement("tr");

                let myMap = new Map(Object.entries(i));

                for (const value of myMap.values()){
                  if(typeof value === "object"){

                    let myMap2 = new Map(Object.entries(value));
                      
                    for (const values of myMap2.values()){
                      const celda = document.createElement("td");
                      celda.appendChild(document.createTextNode(values));
                      fila.appendChild(celda);
                    }

                  } else {
                    const celda = document.createElement("td");
                    celda.appendChild(document.createTextNode(value));
                    fila.appendChild(celda);
                  }
                }

                tabla.appendChild(fila);
              }
              body.appendChild(tabla);
            },
            error: function() {
              alert("tukin't");
            }
          }
        );
      }
    </script>
  </body>
</html>
